<h1> Mailing List</h1>

<p class="lead"> Enter your email to join <strong> <%=count%> </strong>
others on our waitlist. </p>

<form method="POST" action='/register'>
    <input type="text" name="email" class="form" placeholder="Enter your Email">
    <button> Join Us </button>
</form>